.bookingExtrasStyle {
    border: 1px solid #000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 25px;
    width: 850px;
  }
  
  .imageStyle {
    width: 650px; /* Dostosuj szerokość obrazu do swojego */
    height: 450px; /* Dostosuj wysokość obrazu do swojego */
    margin-right: 5px;
  }
  
  .descriptionStyle {
    text-align: left;
  }
  .pStyle{
    padding-top: 120px; /* Opcjonalnie, aby dodać odstęp wokół elementu */
  }
  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    width: 150px;
  }